@charset "UTF-8";

@font-face {
  font-family: "trueblue";
  src:url("trueblue.eot");
  src:url("trueblue.eot?#iefix") format("embedded-opentype"),
    url("trueblue.woff") format("woff"),
    url("trueblue.ttf") format("truetype"),
    url("trueblue.svg#trueblue") format("svg");
  font-weight: normal;
  font-style: normal;
}

.icon {
  font-family: "trueblue" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  
  &[rel="menu"]:before { content: "a"; }
  &[rel="scan"]:before { content: "b"; }
  &[rel="user"]:before { content: "c"; }
  &[rel="news"]:before { content: "d"; }
  &[rel="products"]:before { content: "e"; }
  &[rel="left"]:before { content: "f"; }
  &[rel="right"]:before { content: "g"; }
  &[rel="close"]:before { content: "h"; }
  &[rel="check"]:before { content: "i"; }
  &[rel="search"]:before { content: "j"; }
  &[rel="gps"]:before { content: "k"; }
  &[rel="locations"]:before { content: "l"; }
  &[rel="rewards"]:before { content: "m"; }
  &[rel="star"]:before { content: "n"; }
  &[rel="half-star"]:before { content: "o"; }
  &[rel="top10"]:before { content: "p"; }
  &[rel="heart"]:before { content: "q"; }
  &[rel="heartbreak"]:before { content: "r"; }
  &[rel="leaderboard"]:before { content: "s"; }
  &[rel="food"]:before { content: "t"; }
  &[rel="drink"]:before { content: "u"; }
  &[rel="email"]:before { content: "v"; }
  &[rel="web"]:before { content: "w"; }
  &[rel="phone"]:before { content: "x"; }
  &[rel="settings"]:before { content: "y"; }
  &[rel="history"]:before { content: "z"; }
  &[rel="edit"]:before { content: "A"; }
  &[rel="shop"]:before { content: "B"; }
  &[rel="admin"]:before { content: "C"; }
  &[rel="users"]:before { content: "D"; }
  &[rel="plus"]:before { content: "E"; }
  &[rel="shopping"]:before { content: "F"; }
  &[rel="piggy"]:before { content: "G"; }
  &[rel="devices"]:before { content: "H"; }
  &[rel="touch"]:before { content: "I"; }
  &[rel="custom"]:before { content: "J"; }
  &[rel="keys"]:before { content: "K"; }
  &[rel="banner"]:before { content: "L"; }
  &[rel="graph"]:before { content: "M"; }
  &[rel="calendar"]:before { content: "N"; }
  &[rel="money"]:before { content: "O"; }
  &[rel="book"]:before { content: "P"; }
  &[rel="fblike"]:before { content: "Q"; }
  &[rel="facebook"]:before { content: "R"; }
  &[rel="twitter"]:before { content: "S"; }
  &[rel="instagram"]:before { content: "T"; }
/*
  &[rel="trueblue-fill"]:before { content: "U"; color: #3b77ba !important; }
  &[rel="trueblue-line"]:before { content: "V"; color: #75b0df !important; }
*/
  &[rel="denied"]:before { content: "W"; }
  &[rel="pending"]:before { content: "X"; }
  &[rel="refresh"]:before { content: "Y"; }
  &[rel="down"]:before { content: "Z"; }
  &[rel="logout"]:before { content: "0"; }
  &[rel="share"]:before { content: "1"; }
  &[rel="gallery"]:before { content: "2"; }
  &[rel="add"]:before { content: "3"; }
  &[rel="subtract"]:before { content: "4"; }
  &[rel="addtocart"]:before { content: "5"; }
  &[rel="removecart"]:before { content: "6"; }
  &[rel="qr"]:before { content: "7"; }
  &[rel="wechat"]:before { content: "8"; }
  &[rel="map"]:before { content: "9"; }
  &[rel="trueblue-fill"]:before,
  &[rel="trueblue-line"]:before,
  &[rel="trueblue"]:before { content: "!"; color: #34aeff !important; }
  &[rel="cake"]:before { content: "\22"; }
  &[rel="tripadvisor"]:before { content: "\23"; }
  
  &[rel="spacer"]:before { content: ""; display:inline-block; }
}

@mixin icon-size($px) {
  height: #{$px}px;
  width: #{$px}px;
  font-size: #{$px/2}px;
  line-height: #{$px}px;
  text-align: center;
}

@mixin vicon-size($px) {
  $v: #{$px/3.2};
  height: #{$v}vmin;
  width: #{$v}vmin;
  font-size: #{$v/2}vmin;
  line-height: #{$v}vmin;
  text-align: center;
}

@mixin get-icon($px, $rel, $row) {
}