@import "mixins";

@import "icons"; // icons!
@import "global"; // global items
@import "framework"; // pieces of the layout that make up large parts - header, nav, shield, content wrappers
@import "pages";
@import "forms";

/***
  * FONTS
  ***/

$mainFont: Helvetica, Arial, sans-serif;
$headerFont: $mainFont;

// CUSTOM FONTS
$mainFont: Arial, Helvetica, sans-serif;
$headerFont: $mainFont;

// END CUSTOM FONTS

@import "fonts-styles";

// CUSTOM FONT STYLES
// END CUSTOM FONT STYLES

/***
  * COLOURING
  ***/

$main: #f26a21;
$white: #FFFFFF;
$black: #000000;
$darkGrey: #323031;
$lightGrey: #d0d2d3;
$alertRed: #FF0000; // new! fav!

@import "colours-default";

// CUSTOM COLOURS
$noresults: $white;
$shortcutBKG: rgba($white, 0.25);
$headerScanDots: $white;
$header: $white;
$headerBKG: $black;
$rewardCostBKG: $main;
// END CUSTOM COLOURS

@import "colours-styles";

/***
  * CUSTOM STYLING
  ***/

.content { // no-repeat, cover, center center, fixed
  background-image: url('../background.jpg');
}
.loader .content {
  background-image: url('../splash_7201280.png');
  background-position: center center;
}

nav#header .logo {
  height: 70%;
}

.SP {
  nav#menu ul li a, nav#menu ul li .btn {
    font-size: 14.4px;
    font-size: 4.4vmin;
    letter-spacing: 0.5px;
  }
}

section#forms {
  &.reward, &.scan {
    #console {
      article {
        text-align: center;
      }
      input[name^='pin'] {
        font-size: 30px;
        text-align: center;
        line-height: 50px;
        height: 50px;
        width: 50px;
      }
      input[name='pin'] {
        width: 150px;
      }
      .short.error {
        margin-top: 10px;
      }
    }
    &.claimed {
      padding-bottom: 20px;
      #console {
        input[name^='pin'] {
          pointer-events: none;
        }
      }
    }
  }
}

body.rewards {
  .content {
    > .wrapper {
      overflow: visible;
      height: auto;
    }
  }
}
.reward_grid {
  .reward {
    min-height: 100px;
    background: #FFF;
    width: auto;
    text-align: left;
    margin: 10px;
    position: relative;
    box-sizing: border-box;
    h3 {
      border-bottom: 1px solid #CCC;
      padding-bottom: 8px;
      margin-bottom: 8px;
    }
    .left {
      padding: 10px;
      box-sizing: border-box;
      float: left;
      @include calc('width', '(100% - 100px)');
    }
    .right {
      float: right;
      width: 100px;
      height: 100px;
      background-size: cover !important;
      background-repeat: no-repeat;
      bottom: auto !important;
    }
  }
}

.news .external, .instagram .external,
.news .external .icon, .instagram .external .icon {
  color: $black;
}

.mypoints {
  width: 50%;
  height: auto;
  padding: 5px 10px;
}
