      <a class="icon fleft" rel="menu" ng-click="toggleMenu()" ng-if="!offline"></a>
      <div class="liner height fleft" ng-if="!offline"></div>
      <a id="logo" href="#/" ng-click="closeMenu($event)" ng-if="!offline"><img class="logo fleft" ng-src="{{iconImage}}" /></a><a id="logo" ng-if="offline"><img class="logo fleft" ng-src="{{iconImage}}"></a>
      <a id="login" class="fright FRE14 SP10" ng-click="closeMenu(); popupForm('user login');" ng-if="!offline && !userDetails && (!cart || !cart.products || !cart.products.length || (clientInfo && clientInfo.order_flag != 1))" ng-hide="clientInfo && clientInfo.account_flag != 1">
        <div class="icon" rel="trueblue-line"></div>
        <span>{{text.headerLogin}}</span>
      </a>
      <div class="submit_btn fright SP12" ng-if="!offline && userDetails && (clientInfo && clientInfo.scan_flag == 1 && clientInfo.client_mode == 'consumer') && (!cart || !cart.products || !cart.products.length || (clientInfo && clientInfo.order_flag != 1))">
        <div class="spinner"><div class="dot1"></div><div class="dot2"></div></div>
        <a id="scan" ng-click="closeMenu(); scan();">
          <div class="icon" rel="scan"></div>
          <span>{{text.headerScan}}</span>
        </a>
      </div>
      <div class="submit_btn fright" ng-if="!offline && userDetails && (clientInfo && clientInfo.client_mode == 'merchant') &&  (!cart || !cart.products || !cart.products.length || (clientInfo && clientInfo.order_flag != 1))">
        <div class="spinner"><div class="dot1"></div><div class="dot2"></div></div>
        <a id="qr" ng-click="closeMenu(); showQR();">
          <div class="icon" rel="qr"></div>
          <span>{{text.headerQR}}</span>
        </a>
      </div>
      <div class="fright cart" id="cart" ng-if="!offline && cart && cart.products && cart.products.length && clientInfo && clientInfo.order_flag == 1">
        <a ng-click="closeMenu(); toggleCart();">
          <div class="icon" rel="shop"></div>
          <div class="quantity">
            <div class="txt FRE14">{{text.headerCart}}</div>
            <span class="num">
              {{cart.quantity}}
              <span ng-if="cart.quantity == 1">{{text.item}}</span>
              <span ng-if="cart.quantity != 1">{{text.items}}</span>
            </span>
          </div>
        </a>
      </div>