          <div class="spinner" ng-if="!userDetails">
            <div class="dot1"></div>
            <div class="dot2"></div>
          </div>
          <article class="user-forms-password">
            <div class="wrapper">
              <div class="inner">
                <div class="header">
                  <h4>{{(userDetails.password) ? text.formChange : text.formAdd}} {{text.formPassword}}</h4>
                </div>
              </div>
            </div>
            <form method="post" name="password" id="user-form-password">
              <input ng-if="userDetails.password" type="password" name="currentPassword" placeholder="{{text.formCurrentPass}}" required /><br>
              <input type="password" name="password" placeholder="{{text.formNewPass}}" required /><br>
              <input type="password" name="password2" placeholder="{{text.formConfirmNewPass}}" required /><br>
              <div class="short error"></div>
              <input type="submit" name="submit" submit-btn value="{{(userDetails.password) ? text.formUpdate : text.formAdd}}" class="centered" />
            </form>
          </article>