<div class="spinner" ng-if="!subs">
  <div class="dot1"></div>
  <div class="dot2"></div>
</div>

<article ng-if="subs && sub.stripe_response" ng-repeat="sub in subs.plans track by $index" class="subscriptions">
  <div class="wrapper">
    <div class="bar short">
      {{sub.stripe_response.plan.name}}
      <div class="fright smaller">
        {{sub.stripe_response.status}}
      </div>
    </div>
    <div class="inner">
      <section class="variable">
        <span ng-if="sub.stripe_response.plan.interval == 'day'" class="subtitle" ng-bind-html="text.perDay"></span>
        <span ng-if="sub.stripe_response.plan.interval == 'week'" class="subtitle" ng-bind-html="text.perWeek"></span>
        <span ng-if="sub.stripe_response.plan.interval == 'month'" class="subtitle" ng-bind-html="text.perMonth"></span>
        <span ng-if="sub.stripe_response.plan.interval == 'year'" class="subtitle" ng-bind-html="text.perYear"></span>
        <div class="clear"></div>
        {{(sub.stripe_response.plan.amount/100) | currency : "$" : 2}}
      </section>
      <section class="variable marginBottom10">
        <span class="subtitle">{{(sub.stripe_response.status != 'canceled') ? "Membership Renews on" : "Membership Expires on"}}</span>
        <div class="clear"></div>
        {{sub.stripe_response.current_period_end*1000 | date:'MMMM d' | translateDate:selectedLanguage}}
      </section>
      <div class="add_variable_item short bar" ng-click="cancelSubscription(sub.subscription_token);" ng-if="sub.stripe_response.status != 'canceled'">Cancel Membership</div>
      <div class="add_variable_item short bar disabled" ng-if="sub.stripe_response.status == 'canceled'">Cancelled</div>
    </div>
  </div>
</article>

<!-- Redundant -->
<!--
<article ng-if="subs && (!subs.plans || subs.plans.length <= 0)">
  <div class="add_variable_item short bar" ng-click="subscriptionPage();">{{text.custom.getDeals}}</div>
</article>
-->

<div class="spinner" ng-if="!cards">
  <div class="dot1"></div>
  <div class="dot2"></div>
</div>

<article ng-if="cards" class="payment_details">
  <div class="wrapper">
    <div class="bar short">
      {{::text.paymentDetails}}
    </div>
    <div class="inner">
      <ul class="cards" ng-if="cards.data.length" ng-show="!newCard">
        <li ng-repeat="card in cards.data">
          <div class="btn" card_id="{{card.id}}" ng-click="selectCard($event);">
            <span class="number">XXXX XXXX XXXX {{::card.last4}}</span>
            <br>{{text.pay_expire}} {{::card.exp_month | twoDigits}}/{{::card.exp_year | twoDigits}}
          </div>
          <div class="delete" card_id="{{card.id}}" ng-click="deleteCard($event);">
            <div class="icon" rel="close"></div>
          </div>
        </li>
      </ul>
      <div ng-show="cards && cards.data && cards.data.length">
        <div class="add_variable_item short bar" ng-click="toggleAddCard();">{{(newCard) ? text.useCard : text.addCard}}</div>
      </div>
      <form ng-if="newCard" js-addNewCard-form>
        <section class="variable">
          <span class="subtitle">{{text.pay_name}}</span>
          <div class="clear"></div>
          <input type="text" id="name" name="name" ng-value="(userDetails) ? userDetails.name : (cart.name) ? cart.name : ''" required="required" />
        </section>
        <section class="variable">
          <div class="number mr2">
            <span class="subtitle">{{text.pay_cardnum}}</span>
            <div class="clear"></div>
            <input type="text" pattern="[0-9]{13,16}" id="number" name="number" required="required" data-stripe="number" />
          </div>
          <div class="cvc">
            <span class="subtitle">{{text.pay_cvc}}</span>
            <div class="clear"></div>
            <input type="text" pattern="[0-9]{3,4}" id="cvc" name="cvc" required="required" data-stripe="cvc" />
          </div>
          <div class="clear"></div>
        </section>
        <section class="variable">
          <div class="expiry mr2">
            <span class="subtitle">{{text.pay_expiry}}</span>
            <div class="clear"></div>
            <div class="select_wrapper month mr2">
              <select id="month" name="month" required="required" data-stripe="exp-month">
                <option value="01" ng-selected="thisMonth == 0">01</option>
                <option value="02" ng-selected="thisMonth == 1">02</option>
                <option value="03" ng-selected="thisMonth == 2">03</option>
                <option value="04" ng-selected="thisMonth == 3">04</option>
                <option value="05" ng-selected="thisMonth == 4">05</option>
                <option value="06" ng-selected="thisMonth == 5">06</option>
                <option value="07" ng-selected="thisMonth == 6">07</option>
                <option value="08" ng-selected="thisMonth == 7">08</option>
                <option value="09" ng-selected="thisMonth == 8">09</option>
                <option value="10" ng-selected="thisMonth == 9">10</option>
                <option value="11" ng-selected="thisMonth == 10">11</option>
                <option value="12" ng-selected="thisMonth == 11">12</option>
              </select>
            </div>
            <div class="select_wrapper year">
              <select id="year" name="year" required="required" data-stripe="exp-year">
                <option value="{{::thisYear}}">{{::thisYear}}</option>
                <option value="{{::thisYear+1}}">{{::thisYear+1}}</option>
                <option value="{{::thisYear+2}}">{{::thisYear+2}}</option>
                <option value="{{::thisYear+3}}">{{::thisYear+3}}</option>
                <option value="{{::thisYear+4}}">{{::thisYear+4}}</option>
              </select>
            </div>
          </div>
          <div class="cvc">
            <span class="subtitle">&nbsp;</span>
            <div class="clear"></div>
            <div class="add" ng-click="addStripeCard();" style="display: block;">{{text.add}}</div>
          </div>
          <div class="clear"></div>
        </section>
      </form>
    </div>
  </div>
</div>