          <div class="spinner" ng-if="!userDetails">
            <div class="dot1"></div>
            <div class="dot2"></div>
          </div>
          <article class="user-forms-name">
            <div class="wrapper">
              <div class="inner">
                <div class="header">
                  <h4>{{text.formChange}} {{text.formName}}</h4>
                </div>
              </div>
            </div>
            <form method="post" name="name" id="user-form-name">
              <input type="text" original_value="{{userDetails.name}}" placeholder="{{text.formName}}" class="medium" name="name" required />
              <div class="short error"></div>
              <input type="submit" name="submit" submit-btn value="{{text.formUpdate}}" class="centered" />
            </form>
          </article>